<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold text-center mb-4">What's on your mind?</h1>
  <div class="grid grid-flow-col gap-4">
    <div class="bg-white rounded-md shadow-md w-40 h-40">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
        <img src="assets/biryani.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    <div class="bg-white rounded-md shadow-md w-40 h-40 m-0">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
      <img src="assets/burgers.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    <div class="bg-white rounded-md shadow-md w-40 h-40 m-0">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
      <img src="assets/chinese.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    <div class="bg-white rounded-md shadow-md w-40 h-40 m-0">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
      <img src="assets/dosa.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    <div class="bg-white rounded-md shadow-md w-40 h-40 m-0">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
      <img src="assets/ice-cream.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    <div class="bg-white rounded-md shadow-md w-40 h-40 m-0">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
      <img src="assets/noodles.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    <div class="bg-white rounded-md shadow-md w-40 h-40 m-0">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
      <img src="assets/south-indian.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    
  </div>
  <div class="grid grid-flow-col gap-4 pt-7">
    <div class="bg-white rounded-md shadow-md w-40 h-40">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
        <img src="assets/north-indian.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    <div class="bg-white rounded-md shadow-md w-40 h-40 m-0">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
      <img src="assets/paratha.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    <div class="bg-white rounded-md shadow-md w-40 h-40 m-0">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
      <img src="assets/pizza.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    <div class="bg-white rounded-md shadow-md w-40 h-40 m-0">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
      <img src="assets/pure-veg.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    <div class="bg-white rounded-md shadow-md w-40 h-40 m-0">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
      <img src="assets/rolls.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    <div class="bg-white rounded-md shadow-md w-40 h-40 m-0">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
      <img src="assets/shake.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    <div class="bg-white rounded-md shadow-md w-40 h-40 m-0">
      <a [routerLink]="'/menu'" class="bg-white rounded-md shadow-md w-40 h-40">
      <img src="assets/shawarma.avif" alt="Biryani" class="w-full h-auto">
      </a>
    </div>
    
  </div>
  
</div>